.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 24px;
    border: 0;
    background: url('contrasticon.png');
    cursor: pointer;
  }

  .continent {
    fill: #f0e4dd;
    stroke: #e0cabc;
    stroke-width: 0.5;
}

  body{
    background-color: #f4f0ec;
  }
  
  h3.hidden{
    visibility: hidden;
  }

  .slider::-moz-range-thumb {
    width: 20px;
    height: 25px;
    border: 0;
    background: url('contrasticon.png');
    cursor: pointer;
  }

  input[type="range"]{
    width: 420px;
  }

  .information, .feature_attention{
    font-size: 14px;
    color: #333;
    margin: auto;
    margin-bottom: 10px;

}

#tooltip {
  position: relative;
  background-color: rgba(99, 121, 57, .75);
  width: 100px;
  padding: 8px;
  border-radius: 3px;
}

.year{
  position: absolute;
  
  /* border: 2.5px solid black; */
  /* height: 120px; */
}

.feature{
  position: absolute;
}
.divider {
  /* border-top: 20px solid rgb(223, 230, 230, .3); */

  border-top: 5px solid rgb(128,128,128);
}
.data-table{
  border-collapse: separate;
  border-spacing: 0.5em;
  font-size: 12px;
  
}